<style type="text/css">
	.horizontal {
  display:inline-block;
  width: 20%;
	height
	vertical-align: top;
}
</style>

<div class="boxed"	style="padding-top: 2rem;padding-left: 2rem;padding-bottom: 3rem;padding-right: 2rem;text-align:justify">

	<form action="/monopoly_Original_form/create" method="post">
		<% @properties.each do |property| %>
				<% if @iterator_for_parameter_names <= 2 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid brown;">
					<h2 style="font-family:times;color:brown;text-align:center"><%= property.property_name %> </h2>
				<% end %>
				<% if @iterator_for_parameter_names == 3 || @iterator_for_parameter_names == 4 || @iterator_for_parameter_names == 5 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid rgba(0,204,204,1);">
					<h2 style="font-family:times;color:rgba(0,204,204,1);text-align:center"><%= property.property_name %> </h2>
				<% end %>
				<% if @iterator_for_parameter_names == 6 || @iterator_for_parameter_names == 7 || @iterator_for_parameter_names == 8 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid rgba(255,0,127,1);">
					<h2 style="font-family:times;color:rgba(255,0,127,1);text-align:center"><%= property.property_name %> </h2>
				<% end %>		
				<% if @iterator_for_parameter_names == 9 || @iterator_for_parameter_names == 10 || @iterator_for_parameter_names == 11 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid orange;">
					<h2 style="font-family:times;color:orange;text-align:center"><%= property.property_name %> </h2>
				<% end %>		
				<% if @iterator_for_parameter_names == 12 || @iterator_for_parameter_names == 13 || @iterator_for_parameter_names == 14 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid red;">
					<h2 style="font-family:times;color:red;text-align:center"><%= property.property_name %> </h2>
				<% end %>		
				<% if @iterator_for_parameter_names == 15 || @iterator_for_parameter_names == 16 || @iterator_for_parameter_names == 17 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid yellow;">
					<h2 style="font-family:times;color:rgba(153,153,0,1);text-align:center"><%= property.property_name %> </h2>
				<% end %>	
				<% if @iterator_for_parameter_names == 18 || @iterator_for_parameter_names == 19 || @iterator_for_parameter_names == 20 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid green;">
					<h2 style="font-family:times;color:green;text-align:center"><%= property.property_name %> </h2>
				<% end %>
				<% if @iterator_for_parameter_names == 21 || @iterator_for_parameter_names == 22 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid blue;">
					<h2 style="font-family:times;color:blue;text-align:center"><%= property.property_name %> </h2>
				<% end %>
				<% if @iterator_for_parameter_names == 23 || @iterator_for_parameter_names == 24 || @iterator_for_parameter_names == 25 || @iterator_for_parameter_names == 26 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid black;">
					<h2 style="font-family:times;color:black;text-align:center"><%= property.property_name %> </h2>
				<% end %>
					<% if @iterator_for_parameter_names == 27 || @iterator_for_parameter_names == 28 %>
					<div class="horizontal"	style=" text-align:left;border: 10px solid gray;">
					<h2 style="font-family:times;color:gray;text-align:center"><%= property.property_name %> </h2>
				<% end %>				
				<% @players.each do |player| %>
					<div class= "radio">
						<h3 style="font-family:times;color:black;"><input type="radio" name=<%="Property" + @iterator_for_parameter_names.to_s %>"" value = <%=player.player_name %>><%=player.player_name %>
							</h3>
					</div>
				<% end %> <br>
			<% @iterator_for_parameter_names += 1 %>
			</div>
		<% end %>
		<hr>
		<input type="submit" name="" value="Submit" class="btn btn-outline-primary">
	</form>
</div>
